.box{ 
  min-height: 100vh;
  background-color: aliceblue;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}


/*.button-box*/
button{
  margin: 30px 0;
  width: 150px;
  height: 50px;
}

.search-box {
  margin-bottom: 30px;
}

.search-box h1 {
  margin-bottom: 30px;
}